/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.table tr td, .table tr th {
  vertical-align: middle;
}

.btn {
  cursor: pointer !important;
  font-size: 13px !important;
}

.btn-group .btn {
  padding: 7px 9px;
  font-size: 11px;
}

.header-name {
  font-size: 13px;
}

.dropdown {
  text-align: right;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-menu {
  text-align: right;
  font-size: 12px;
  right: 0 !important;
  left: auto !important;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: inherit !important;
}

.dropdown-item .fa {
  color: #b1a9da;
  margin-left: 8px;
}

.customgrid .btn {
  padding: 6px 9px !important;
}

select {
  height: 33px !important;
}

.form-control {
  padding: 0.25rem 0.75rem !important;
  font-size: 13px !important;
}

.ajs-message {
  font-size: 16px;
}

.grid-empty-row {
  width: 100%;
  font-style: italic;
  border: 1px dotted gray;
  text-align: center;
  padding: 8px;
  background-color: #c1c1c1;
}

nb-card {
  font-size: 13px !important;
}

input[type=checkbox] {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px !important;
  border-radius: 6px;
  display: inline-block;
  position: relative;
  height: 20px;
  vertical-align: bottom;
  margin-left: 5px;
}

input[type=checkbox]:active, input[type=checkbox]:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input[type=checkbox]:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

input[type=checkbox]:checked:after {
  content: '\2714';
  font-size: 13px;
  position: absolute;
  top: 3px;
  left: 3px;
  color: #99a1a7;
}

input[type=checkbox]:focus {
  outline-color: transparent;
}

input[type=radio] {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px !important;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  margin-left: 5px;
}

input[type=radio]:checked:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 2px;
  background: #99a1a7;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-shadow: 0px;
  right: 2px;
  font-size: 32px;
}

input[type=radio]:checked {
  background-color: #e9ecee;
  color: #99a1a7;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type=radio]:active, input[type=radio]:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}


input[type=radio]:focus {
  outline-color: transparent;
}
