
<div class="row">
  <ng-container  *ngIf='this.authenticated' >
      <div class="col-2"  permission subject="corporate">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> مدیریت شرکت بیمه </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item"  routerLink="corporate/add">جدید</button>
              <button class="dropdown-item"  routerLink="corporate/list">لیست</button>
          
            </div>
          </div>
        </div>
 
    <div class="col-2"  permission subject="corporate" >
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> مدیریت شرکت بیمه </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item"  routerLink="/dashboard/admin">پنل ادمین</button>
            <button class="dropdown-item"  (click)="logout()">خروج</button>
        
          </div>
        </div>
      </div>
</ng-container>
                
                <ng-container  *ngIf='!this.authenticated'>
                    <div class="col-12">
                       
                        <button type="button" class="btn btn-primary" (click)="login()">ورود</button>
                  </div>
                </ng-container>
              </div>
           
