<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>کلاس های آموزشی</nb-card-header>
      <nb-card-body>

        <div class="row mb-2 mr-1">
          <button class="btn btn-primary" [routerLink]="['/ClassRoom/add']" >جدید</button>
        </div>
        
        <app-grid [items]="items" [customTasks]="customTasks" [editable]="true" [removable]="true" [dictionary]="dictionary" [subject]="subject"
          [pagination]="pagination" (onSort)="sort($event)" (onRemove)="remove($event)" (onEdit)="goToEdit($event)" (onCustomTask)="customTask($event)"
          (onPageChanged)="pageChanged($event)">
        </app-grid>

      </nb-card-body>
    </nb-card>
  </div>
</div>