<nb-card>
  <!-- <nb-card-header>
    <nav class="navigation">
      <a aria-label="Back" class="link" href="#"><i class="icon nb-arrow-thin-left"></i></a></nav>
  </nb-card-header> -->
  <nb-card-body>
    <div class='auth-block'>
      <div class="ng-star-inserted">
        <h1 class="title" id="title">ورود</h1>
        <p class="sub-title">نام کاربری و رمز عبور خود را به دقت وارد نمایید.</p>

        <form #form='ngForm' novalidate>
          <div class="form-control-group">
            <label class="label" for="input-email">نام کاربری:</label>
            <input name="userName" class="form-control" #email='ngModel' required [(ngModel)]="user.userName">

          </div>
          <div class="form-control-group">
            <label class="label">رمز عبور:</label>
            <input name="password" type="password" class="form-control" required minlength="4" maxlength="50"
              [(ngModel)]="user.password" #password="ngModel">
            <p class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)"> Email is
              required! </p>

          </div>

          <div class="form-control-group accept-group checkbox">

            <label><input type="checkbox" id='rememberme'/> مرا بخاطر بسپار</label>

            <a class="forgot-password" [routerLink]="['/Auth/RequestPassword']">رمز عبور خود را فراموش کرده اید؟</a>
          </div>
          <!-- <button class="btn-success btn-block btn-disabled" nbbutton [disabled]='!form.valid'> ورود </button> -->
          <button class="btn btn-success btn-block mb-5" (click)='login()'>ورود</button>
        </form>

      </div>
    </div>
  </nb-card-body>
</nb-card>