<form  #CorporateAddForm="ngForm" (ngSubmit)="AddFormSubmit()">
  
  <form-input label="نام">
  <input InputError class="form-control text-ltr"  [(ngModel)]="model.Name" type="text"  name="Name" #Name="ngModel"
      required />
  </form-input>
  <form-input label="کد شرکت">
    <input InputError class="form-control text-ltr"  [(ngModel)]="model.InnerNumber" type="text"  name="InnerNumber" #InnerNumber="ngModel"
        required />
    </form-input>
    <form-input label="کد پستی">
      <input InputError class="form-control text-ltr"  [(ngModel)]="model.PostalCode" type="text"  name="PostalCode" #PostalCode="ngModel"
          required />
      </form-input>
      <form-input label="شماره تماس">
        <input InputError class="form-control text-ltr"  [(ngModel)]="model.PhoneNumber" type="text"  name="PhoneNumber" #PhoneNumber="ngModel"
            required />
        </form-input>
        <form-input label="آدرس">
          <input InputError class="form-control text-ltr"  [(ngModel)]="model.Address" type="text"  name="Address" #Address="ngModel"
              required />
          </form-input>
          <form-input label="آدرس سرور">
            <input InputError class="form-control text-ltr"  [(ngModel)]="model.ServerUrl" type="text"  name="ServerUrl" #ServerUrl="ngModel"
                required />
            </form-input>

            <form-input label="آدرس آپدیت سرور">
              <input InputError class="form-control text-ltr"  [(ngModel)]="model.UpdateServerUrl" type="text"  name="UpdateServerUrl" #UpdateServerUrl="ngModel"
                  required />
              </form-input>
  
              <form-input label="آدرس داخلی سرور">
                <input InputError class="form-control text-ltr"  [(ngModel)]="model.InternalServerUrl" type="text"  name="InternalServerUrl" #InternalServerUrl="ngModel"
                    required />
                </form-input>

                <div class="row justify-content-center">
              
                    <button type="submit" class="btn btn-success" [disabled]="!CorporateAddForm.form.valid">ثبت</button>

                </div>
</form>
