<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>دوره تحصیلی</nb-card-header>
      <nb-card-body>

        <div class="col-md-6 align-top d-inline-block">

          <form #f="ngForm" (ngSubmit)="submitForm()" novalidate>


            <div class="form-group row">
              <label for="txtEmail" class="col-sm-3 col-form-label text-left">مقطع تحصیلی:</label>
              <div class="col-sm-9">

                <select class="form-control" name="EducationLevelId" [(ngModel)]="educationCourseItem.EducationLevelId">
                  <option value="0">--- انتخاب کنید ---</option>
                  <option *ngFor="let item of educationLevelItems" [value]="item.Id">
                    {{item.Name}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label text-left">عنوان:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="name" [(ngModel)]="educationCourseItem.Name" required>
              </div>
            </div>


            <div class="form-group row">

              <div class="col-sm-6">

                <label><input type="checkbox" id='rememberme' name="allowAssignMajor" [value]="educationCourseItem.AllowAssignMajor" [(ngModel)]="educationCourseItem.AllowAssignMajor" />
                  اجازه ثبت رشته</label>
              </div>

              <div class="col-sm-6 text-left">
                <button type="submit" class="btn btn-primary" [disabled]='!f.valid'>ذخیره</button>
              </div>
            </div>
          </form>

        </div>

        <div class="col-md-6  d-inline-block">

            <app-grid [items]="items" [editable]="true" [removable]="true" [dictionary]="dictionary" [subject]="subject"
              [pagination]="pagination" (onSort)="sort($event)" (onRemove)="remove($event)" (onEdit)="edit($event)"
              (onPageChanged)="pageChanged($event)">
            </app-grid>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>