<div class="form-group row justify-content-start">
  <label class="col-2 col-form-label" for="textTextbox">{{label}}</label>
  <div class="col-10" [ngClass]="{'has-error': hasError}">
      <ng-content></ng-content>

          <ng-container *ngIf='!hasError'>
              <span class="text-muted"> {{info}}</span>
          </ng-container>
          <ng-container *ngIf='hasError'>
              <span class="text-danger"> {{value | getError : input:label}}</span>
          </ng-container>
  
  </div>
</div>