<div class="header-container left">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">ngx-<span>admin</span></div>
  </div>
</div>

<div class="header-container">
  
    <a class="control-item nb-notifications" style='font-size:2em;margin:0 10px'></a>
    <a class="control-item nb-email" style='font-size:2em;margin:0 10px'></a>
    <a class="control-item nb-search" style='font-size:2em;margin:0 10px'></a>

  <!-- <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-notification"></i></a> -->
</div>
