<div class="header-container left">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">ngx-<span>admin</span></div>
  </div>
</div>

<div class="header-container">

  <a class="control-item nb-notifications header-item"></a>
  <a class="control-item nb-email header-item"></a>
  <a class="control-item nb-search header-item"></a>

  <div class="btn-group header-item" dropdown>
    <a dropdownToggle class="btn dropdown-toggle userFullName">
      {{ fullName }} <span class="caret"></span>
    </a>
    <div class="dropdown-menu mt-3" style="background-color: #57575d" *dropdownMenu>
      <a class="dropdown-item"><i class="fa fa-user"></i> ویرایش پروفایل</a>
      <div class="divider dropdown-divider"></div>
      <a class="dropdown-item" (click)="signOut()"><i class="fa fa-sign-out-alt"></i> خروج</a>
    </div>
  </div>

</div>