<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>کلاس آموزشی</nb-card-header>
      <nb-card-body>

        <div class="col-md-6 align-top d-inline-block">

          <form #f="ngForm" (ngSubmit)="add(item)" novalidate>
            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label text-left">عنوان:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="name" [(ngModel)]="item.Name" required>
              </div>
            </div>

            <div class="form-group row">

              <label for="name" class="col-sm-3 col-form-label text-left">سال تحصیلی:</label>
              <div class="col-sm-9">
                <select class="form-control" name="educationYearId"
                  [(ngModel)]="item.EducationYearId">
                  <option *ngFor="let item of educationYearList" [value]="item.Id">
                    {{item.StartDate + ' - ' + item.EndDate}}
                  </option>
                </select>
              </div>
            </div>


            <div class="form-group row">

              <label for="name" class="col-sm-3 col-form-label text-left">پایه تحصیلی:</label>
              <div class="col-sm-9">
                <select class="form-control" name="SchoolEducationSubCourseId"
                  [(ngModel)]="item.SchoolEducationSubCourseId">
                  <option *ngFor="let item of schoolEducationSubCourseList" [value]="item.Id">
                    {{item.EducationSubCourseName}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary"
                  [disabled]='!f.valid'>ذخیره</button>
              </div>
            </div>
          </form>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>